/* ELEMENTS */
body{
	padding-top: 4.5em;
	color: #00aeef;
	font-family: AvenirLight;
	letter-spacing: 0.1em;
}

input {
	padding-left: 0.5em;
	font-size: 1.3em;
	line-height: 0.5em;
	letter-spacing: 0.1em;
	vertical-align: middle;
}

a {
	color: #00aeef;
}

h1 {
	font-family: AvenirHeavy;
	font-size: 2.875em;
	letter-spacing: 0.1em;
}

h2 {
    font-family: AvenirLight;
	font-size: 1.8em;
    text-align: center;
}

h3 {
    font-family: AvenirMedium;
	font-size: 1.5em;
    text-align: left;
}

h4 {
    font-size: 1.3em;
	letter-spacing: 0.1em;
}

/* CLASSES */
.center_align {
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu-bar { 
	height: 4.5em;
 	background-color: white;
 	box-shadow: 0 0.063em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.navbar-left {
	padding-top: 1em;
	padding-left: 2em;
}

.sign-in {
	margin-right: 2em;
    line-height: 3.5em;
	font-size: 1.25em;
	letter-spacing: 0.1em;
}

.back_button {
    width: 10em;
	height: 3em;
    margin-top: 1em;
    position: relative;
    letter-spacing: 0.2em;
    background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.back_button_text {
	color: #fefefe;
    font-family: AvenirHeavy;
	font-size: 1.5em;
}

.insert_video {
    height: 30em;
    width: 100%;
    background-color: rgba(0, 174, 239, 0.2);
}

.ellipse {
	height: 4em;
    width: 4em;
    margin: 0 auto;
	border: 0.2em solid #00aeef;
    border-radius: 100%;
}

.rectangle {
    height: 2em;
    width: 2em;
    margin: 0.8em auto;
	border: 0.2em solid #00aeef;
}

.submit_upload_button {
    width: 20em;
	height: 3.2em;
    letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.submit_upload_button_text {
	color: #fefefe;
    font-family: AvenirHeavy;
	font-size: 1.5em;
}

/* RESPONSIVE DETAILS */
@media (max-width: 768px) {
    body { 
    	font-size: 80%;
    }

    #logo_image {
    	height: 1.5em;
    }
}	

@media (max-width: 1365px) {
    body { 
    	font-size: 90%;
    }

    #logo_image {
    	height: 2.5em;
    }
}	