@font-face {
    font-family: AvenirLight;
    src: url('font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: AvenirMedium;
    src: url('font/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
    font-family: AvenirHeavy;
    src: url('font/AvenirLTStd-Heavy.woff') format('woff');
}
