/*font*/
@font-face {
    font-family: AvenirLight;
    src: url('font/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
    font-family: AvenirMedium;
    src: url('font/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
    font-family: AvenirHeavy;
    src: url('font/AvenirLTStd-Heavy.woff') format('woff');
}

/* ELEMENTS */
body {
	padding-top: 4.5em;
	color: #00aeef;
	font-family: AvenirLight;
	letter-spacing: 0.1em;
}

input {
	padding-left: 0.5em;
	font-size: 1.3em;
	line-height: 0.5em;
	letter-spacing: 0.1em;
	vertical-align: middle;
}

a {
	color: #00aeef;
}

/* CLASSES */
.center_align {
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.menu-bar {
	height: 4.5em;
 	background-color: white;
 	box-shadow: 0 0.063em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.navbar-left {
	padding-top: 1em;
	padding-left: 2em;
}

.sign-in {
	margin-right: 2em;
	line-height: 3.5em;
	font-size: 1.25em;
	letter-spacing: 0.1em;
}

.jumbotron {
	height: auto;
	background-image: url("../../assets/home_background.png");
	background-size: cover;
}

.jumbotron_text {
	color: white;
	font-size: 3.8em;
	letter-spacing: 0.1em;
	line-height: 1.8em;
}

.sub_text {
	font-size: 2em;
	letter-spacing: 0.05em;
	line-height: 2em;
}

.search_container {
	height: 22.5em;
	padding-top: 4em;
	line-height: 6em;
}

.search_forms {
	height: 3em;
	width: 20em;
	margin-bottom: 2em;
	vertical-align: middle;
	border: 0.063em solid #00aeef;
	border-radius: 0.5em;
}

::-webkit-input-placeholder  {
	color: #00aeef;
	letter-spacing: 0.1em;
	font-style: italic;
	text-align: left;
}

:-moz-placeholder {
	color: #00aeef;
	letter-spacing: 0.1em;
	text-align: left;
}

.search_button {
	height: 4em;
	width: 15em;
	line-height: 3.5em;
	text-align: bottom;
	background-color: #00aeef;
	box-shadow: 0 0.063em 0.563em 0.063em rgba(0, 174, 239, 0.2);
	border: 0.188em solid #00aeef;
	border-radius: 0.8em;
}

.search_button_text {
	height: 2.875em;
	width: 13.25em;
	color: white;
	font-size: 2em;
	font-family: AvenirMedium;
	letter-spacing: 0.1em;
}

.experts_companies {
	padding-bottom: 1em;
	font-size: 2.8em;
	letter-spacing: 0.05em;
	line-height: 2em;
}

.experts_companies_options {
	font-size: 1.8em;
	letter-spacing: 0.05em;
}

.experts_companies_options_icon {
	height: auto;
	max-height: 3em;
	max-width: 5em;
}

.how_elevtor_works_box {
	margin-top: 4em;
	height: auto;
	background-color: #daf3fd;
	border: 0.188em solid #bfebfb;
}

.how_elevtor_works_header {
	padding-top: 1em;
	height: 3.375em;
	font-family: AvenirHeavy;
	font-size: 3em;
	letter-spacing: 0.1em;
}

.how_elevtor_works_boxes {
	margin-top: -0.1em;
	height: 27em;
	background-color: #daf3fd;
	border-top: 0.188em solid #bfebfb;
	border-right: 0.188em solid #bfebfb;
	border-bottom: 0.188em solid #bfebfb;
}

.first {
	border-left: 0.188em solid #bfebfb;
}

.propaganda_icons {
	padding-top: 2em;
	max-width: 15em;
	max-height: 15em;
}

.how_elevtor_works_boxes_texts {
	padding-top: 5%;
	padding-left: 10%;
	width: 90%;
	font-size: 1.8em;
	letter-spacing: 0.1em;
}

.depo_images {
	padding-right: 0.5em;
	max-width: 10.875em;
	max-height: 12.75em;
}

.level_1 {
	font-size: 1.5em;
	line-height: 1.6em;
}

.level_2 {
	font-size: 1.1em;
	font-style: italic;
	vertical-align: bottom;
	line-height: 2em;
}

.level_3 {
	font-size: 0.9em;
	vertical-align: bottom;
	line-height: 1.5em;
}

.footer {
	margin-top: 5em;
	margin-bottom: 11.5%;
	height: 0.063em;
	background-color: #7fd6f7;
}

.footer_logo_text {
	padding-top: 0.8em;
	font-size: 1.15em;
	line-height: 1.8em;
	letter-spacing: 0.15em;
}

.footer_col {
	margin-top: 1em;
	font-family: AvenirMedium;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	vertical-align: bottom;
}

.footer_col_options {
	font-size: 1em;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	vertical-align: bottom;
}

.footer_col_2 {
	padding-left: 0.35em;
}

.social_media_icons {
	height: auto;
	max-height: 1em;
}

/* IDENTIFICATORS */
#footer_logo {
	width: 17em;
	margin-top: 1em;
}

/* USED TO REMOVE SPACING BETWEEN COLUMNS */
.row.no_gutter [class*='col-']:not(:first-child),
.row.no_gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

/* RESPONSIVE DETAILS */
@media (max-width: 768px) {
    body {
    	font-size: 80%;
    }

		.login_page {
			font-size: 70%;
		}

    #logo_image {
    	height: 1.5em;
    }
}

@media (max-width: 1365px) {
    body {
    	font-size: 90%;
    }

		.login_page {
			font-size: 80%;
		}

    #logo_image {
    	height: 2.5em;
    }
}

/*landing page inline styles added as classes*/
.testimony {
	padding-top: 5em;
}

.footer_info {
	padding-left: 2.5em;
}

.help {
	padding-left: 0.2em;
}

/*login page inline styles added as classes*/
.social_login_row {
	padding-top: 2em;
}

.social_login_row_b {
	padding-top: 2.5em;
}

.login_fields {
	padding-top: 5em;
}

.forgot {
	padding-top: 0.5em;
}

.padbottom {
	padding-bottom: 3em;
}

.heavy {
	font-family: AvenirHeavy;
}

/* resume page inline styles added as classes*/
.padtop {
  padding-top: 1.5em;
}

/*edit profile page inline styles added as classes*/
.align_right {
  text-align: right;
}

.font_size_em {
  font-size: 1em;
}

.padding_top_em {
  padding-top: 1em;
}

/*saved jobs inline styles added as classes*/
.padding_top_four {
  padding-top: 4em;
}

.padding_left_em {
  padding-left: 1em
}

.padding_bot_half {
  padding-bottom: 0.5em;
}

.padding_bot_two {
  padding-bottom: 2em;
}

.pad_top_point_four {
  padding-top: 0.4em;
}

.pad_top_point_three {
  padding-top: 0.3em;
}

.bold {
  font-weight: bold;
}

.bbb {
  color: #bbb;
}

m_right_em {
  margin-right: 1em;
}

/*login page & resume create*/
h1 {
	font-family: AvenirHeavy;
	font-size: 2.875em;
	letter-spacing: 0.1em;
}

h4 {
  font-size: 1.3em;
	letter-spacing: 0.1em;
}

.header {
	padding-top: 2em;
}

.social_media_login {
	height: 3em;
	width: 16em;
	font-size: 1em;
  border: none;
}

.login_social_text {
    color: white;
    font-family: AvenirLight;
    line-height: 2.2em;
    letter-spacing: 0.1em;
}

.linkedin {
	background-color: #007bb6;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #09f;
}

.google {
	background-color: #d34836;
}

.microsoft {
	background-color: #007bb6;
}

.login_forms {
	height: 2.5em;
	width: 100%;
	margin-bottom: 2em;
  text-align: left;
	vertical-align: middle;
	border: 0.063em solid #00aeef;
	border-radius: 0.5em;
}

.login_button {
  width: 15em;
	height: 3.2em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.login_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.5em;
}

.social_login_icons {
	height: auto;
	max-height: 2em;
  padding-left: 0.5em;
}

/*signup page & resume create*/
h2 {
  font-family: AvenirLight;
	font-size: 1.8em;
  text-align: center;
}

.user_type {
  width: 20em;
	height: 3em;
  color: #00aeef;
	background-color: white;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.active {
  background-color: #00aeef;
	box-shadow: inset 0 0.313em 0.563em 0.063em rgba(0, 0, 0, 0.2);
}

.user_type_text {
  color: white;
  font-family: AvenirMedium;
	font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
}

.text_active {
  color: #00aeef;
}

.signup_button {
  width: 15em;
	height: 3.2em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.signup_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.5em;
}

.signup_forms {
	height: 2.2em;
	width: 100%;
	margin-bottom: 2em;
  text-align: left;
	vertical-align: middle;
	border: 0.063em solid #00aeef;
	border-radius: 0.5em;
}

/*resume create page */
h3 {
  font-family: AvenirMedium;
	font-size: 1.5em;
  text-align: left;
}

.back_button {
  width: 10em;
	height: 3em;
  margin-top: 1em;
  position: relative;
  letter-spacing: 0.2em;
  background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.back_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.5em;
}

.insert_video {
  height: 30em;
  width: 100%;
  background-color: rgba(0, 174, 239, 0.2);
}

.ellipse {
	height: 4em;
  width: 4em;
  margin: 0 auto;
	border: 0.2em solid #00aeef;
  border-radius: 100%;
}

.rectangle {
  height: 2em;
  width: 2em;
  margin: 0.8em auto;
	border: 0.2em solid #00aeef;
}

.submit_upload_button {
  width: 20em;
	height: 3.2em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.submit_upload_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.5em;
}

/* edit profile page */
.sidebar_options {
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

.salary_select {
  margin-top: 0.3em;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  border: 0em solid #00aeef;
}

.skills_form {
  width: 15em;
}

.save_button {
  width: 15em;
	height: 3.2em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.save_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.5em;
}

.photoUpload {
  position: relative;
  overflow: hidden;
  width: 7.5em;
	height: auto;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.photoUpload input.photo_button {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

#desired_salary {
  width: 60%;
}

.profile_signup_forms {
	height: 2.2em;
	width: 100%;
	margin-bottom: 2em;
  text-align: left;
	vertical-align: top;
	border: 0.063em solid #00aeef;
	border-radius: 0.5em;
}

.active_menu {
  font-family: AvenirHeavy;
}

/*profile page */
.user_image {
	width: 12em;
	height: auto;
}

.social_links {
  height: 2em;
}

.title {
  color: #aaa;
}

.skills {
  display: inline-block;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
	background-color: #c5f1f7;
	border: 0.063em solid #00aeef;
	border-radius: 0.75em;
}

.bottom_space {
  padding-bottom: 3em;
}

.insert_profile_video {
  height: 25em;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgba(0, 174, 239, 0.2);
}

/*saved jobs page */
.jobs_form {
  width: 50%;
	height: auto;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.job_box {
	width: 50%; /* Somente para col-md */
	height: auto;
	border: 0.063em solid #00aeef;
	border-radius: 20px;
  padding-bottom: 1em;
}

.job_button {
  width: 100%;
	height: 3em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.job_logo {
  height: 1.5em;
  margin-top: 1.3em;
  margin-left: -1.5em;
}

.job_icons {
  height: 3em;
  padding-top: 1em;
}

#job_3 .job_box {
  color: #bbb;
  border: 0.1em solid #bbb;
}

.apply_button {
  width: 8em;
	height: 3em;
  letter-spacing: 0.2em;
	background-color: #05cc47;
	border: 0.188em solid #05cc47;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.125em rgba(0, 0, 0, 0.3);
}

.invert_button_text {
	color: #00aeef;
  font-family: AvenirHeavy;
	font-size: 1.3em;
}

.invert_job_button {
  width: 20%;
	height: 3em;
  letter-spacing: 0.2em;
	background-color: #fff;
	border: 0.188em solid #fff;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 0, 0, 0.2);
}

.savedjobs h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
	letter-spacing: 0.1em;
  line-height: 1.4em;
}

.saved_signup_forms {
	height: 2.2em;
	width: 35%;
  margin-right: 1em;
  text-align: left;
	border: 0.063em solid #00aeef;
	border-radius: 0.5em;
}

.find_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1.3em;
}

.details_social_links {
    height: 1.5em;
}

.insert_job_video {
    height: 25em;
    width: 100%;
    background-color: rgba(0, 174, 239, 0.2);
}

/* interviews page */
h6 {
  font-size: 1.1em;
	letter-spacing: 0.1em;
  line-height: 1.4em;
}

.interview_notification_text {
  color: #fefefe;
  line-height: 1.3em;
  letter-spacing: 0.1em;
}

.interviews_status {
  padding-top: 1em;
  font-size: 1.4em;
	letter-spacing: 0.1em;
}

.int_details_insert_video {
  height: 25em;
  margin-bottom: 1em;
}

/* search page inline styles added as classes*/
.pad_bot_em {
  padding-bottom: 1em
}

.pad_five_percent {
  padding-top: 5%;
}

.pad_ten_percent {
  padding-top: 10%;
}

/*search page */
label {
  font-weight: 400;
}

.radio_head {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

input .radio_options {
  padding-top: 10em;
}

.results_structure {
  height: 100%;
  border-top: 0.063em solid #00aeef;
  border-right: 0.063em solid #00aeef;
}

.results_structure2 {
  height: 100%;
  padding-bottom: 1em;
  border: 0.063em solid #00aeef;
}

.listing {
  position: absolute;
  text-align: center;
  margin-top: -0.5em;
  font-size: 1em;
  font-style: italic;
  color: #bbb;
}

.listing_detail {
  position: absolute;
  text-align: center;
  font-size: 1em;
  font-style: italic;
  line-height: 1em;
  color: #bbb;
}

/* USED TO PERSONALIZE THE RADIO BUTTON */
input[type=radio]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

input[type=radio]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}

input[type=radio]:not(old) + label > span{
    display          : inline-block;
    width            : 1.5em;
    height           : 1.5em;
    margin           : 0.25em 0.5em 0.25em 0.5em;
    border           : 0.0625em solid rgb(0,174,239);
    border-radius    : 100%;
    vertical-align   : middle;
}

input[type=radio]:not(old):checked + label > span{
    border           : 0.0625em solid rgb(37,151,204);
    background-color : rgb(43,179,243);
}

/* USED TO REMOVE SPACING BETWEEN COLUMNS */
.row.no_gutter [class*='col-']:not(:first-child),
.row.no_gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.result_apply_button {
  width: 6em;
	height: 2.5em;
  letter-spacing: 0.2em;
	background-color: #05cc47;
	border: 0.188em solid #05cc47;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.125em rgba(0, 0, 0, 0.3);
}

.result_job_logo {
  height: 1.5em;
  margin-top: 1.3em;
  margin-left: -0.5em;
}

.result_button_text {
	color: #fefefe;
    font-family: AvenirHeavy;
	font-size: 1.1em;
}

.results_save_button_text {
	color: #fefefe;
  font-family: AvenirHeavy;
	font-size: 1em;
}

.results_save_button {
  width: 100%;
	height: 2.5em;
  letter-spacing: 0.2em;
	background-color: #00aeef;
	border: 0.188em solid #00aeef;
	border-radius: 0.5em;
	box-shadow: 0 0.313em 0.563em 0.063em rgba(0, 174, 239, 0.2);
}

.result_job_box {
	width: 50%; /* Somente para col-md */
	height: auto;
	border: 0.063em solid #00aeef;
  padding-bottom: 1em;
}
